a{
  text-decoration: none;
}
.footer {
  background-color: #FFB36C;
  padding: 32px 16px;

}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}


.footer__logo-box img {
  width: 72px;
  height: auto;
  margin-bottom: 16px;
}


.footer__address-section {
  max-width: 100%;
}

.footer__title{
font-family: var(--second-family);
font-weight: 500;
font-size: 12px;
color: #000;
  margin-bottom: 18px;
}
.footer-join__title {
font-family: var(--second-family);
font-weight: 500;
font-size: 12px;
color: #000;
  margin-bottom: 18px;
}

.footer__address-link {
  font-family: var(--second-family);
font-weight: 500;
font-size: 8px;
color: #000;
}


.footer-join {
  max-width: 100%;
}

.social-networks-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 23px;
  padding: 0;
  margin: 0;
}



.social-networks-list__icon {
  width: 35px;
  height: 35px;
}







