a{
  text-decoration: none;
}
.footer {
  background-color: #FFB36C;
  padding: 32px 16px;

}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}


.footer__logo-box img {
  width: 72px;
  height: auto;
  margin-bottom: 16px;
}


.footer__address-section {
  max-width: 100%;
}

.footer__title{
font-family:  "Montserrat Alternates", sans-serif;;
font-weight: 500;
font-size: 12px;
color: #000;
  margin-bottom: 18px;
}
.footer-join__title {
font-family:  "Montserrat Alternates", sans-serif;;
font-weight: 500;
font-size: 12px;
color: #000;
  margin-bottom: 18px;
}

.footer__address-link {
  font-family: "Montserrat Alternates", sans-serif; ;
font-weight: 500;
font-size: 8px;
color: #000;
}


.footer-join {
  max-width: 100%;
}

.social-networks-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 23px;
  padding: 0;
  margin: 0;
}



.social-networks-list__icon {
  width: 35px;
  height: 35px;
}

.footer__address-content{
  display: flex;
  gap: 0;
}

@media(min-width: 768px){
  .footer__container{
    display: flex;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    gap: 85px;
    flex-direction: row;
  }
  .footer__logo-box img{
    width: 80px;

  }
  .footer__address-section, .footer-join{
 max-width: 220px;
  }
   .footer-join__title, .footer__title{
    font-size: 14px;

   }
   .footer__address-link{
    font-size: 10px;
   }
}
@media(min-width:1200px){
  .footer{
padding: 48px 32px;
  
  }
  .footer__container {
    max-width: 1200px;
    margin: 0 auto;
    gap: 48px;
     display: flex;
     justify-content: flex-start;
  }
  .footer__logo-box img{
    width: 80px;

  }
  .footer-join__title, .footer__title{
    font-size: 14px;

   }
   .footer__address-link{
      font-size: 12px;
  }

  .social-networks-list__icon {
    width: 40px;
    height: 40px;
  }
}


