





.Nature {
  padding: 80px 0;
  background-color: #fff;
}

.Nature__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.Nature-slider {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.slide {
  position: relative;
  flex: 0 0 auto;
  width: 310px; 
  height: 170px; 
  border-radius: 6px;

  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin: 0 -80px; 
  z-index: 1; 
  transform: scale(0.7);
  opacity: 0.4;
}



.slide--active {
  width: 384px; 
  height: 211px; 
  z-index: 10; 
  transform: scale(1);
  opacity: 1;
  margin: 0 20px; 
 
}

.slide-media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}