@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.form, .form2{
    position: fixed;
    width: 30%;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 50%;
    margin-left: -15%;
    top: 50%;
    margin-top: -25vh;
    font-family: "Montserrat", sans-serif;
    opacity: 1;
}

.form-h2{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 35px;
    font-weight: 500;
}

.form-box{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form-label{
    font-weight: 600;
}

.form-input{
    margin-top: 10px;
    padding: 17px;
    background: #E4E4E4;
    border: none;
    border-radius: 10px;
}

.form-btn{
    padding: 10px 25px;
    margin-top: 20px;
    background: #FFB36C;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

.form-p{
    font-size: 14px;
    font-weight: 500;
}

.form-a{
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.closeModal{
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.close{
    display: none;
    box-shadow: none;
}

.form2{
    opacity: 0;
    box-shadow: none;
}

.open{
    opacity: 1;
}